<div class="games_background">
  <h1>חקור את המשחקים של כולם</h1>
  <div class="panel panel-info">
    <div class="game-table-panel panel-heading">אפשרויות: טיפ! עבור עם העכבר על האייקונים על מנת להבין מה הם עושים
      <div class="panel-icon-wrapper right">
	<span type="button" onmouseover="tooltipPluse.open();" onmousemove="tooltipPluseMove();" onmouseout="tooltipPluse.remove();" class="glyphicon glyphicon-import"></span>
	<span type="button" onmouseover="tooltipPluse.open();" onmousemove="tooltipPluseMove();" onmouseout="tooltipPluse.remove();" class="glyphicon glyphicon-eye-open"></span>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th ng-click="sort('gameName')" class="sortable">שם המשחק
                 <span ng-show="itemsOrder == 'attributes.gameName' && !direction" class="glyphicon glyphicon-chevron-down">

                        </span>
                         <span ng-show="itemsOrder == 'attributes.gameName' && direction" class="glyphicon glyphicon-chevron-up">

                        </span>
            </th>
            <th ng-click="sort('type')" class="sortable">סוג
                 <span ng-show="itemsOrder == 'attributes.type' && !direction" class="glyphicon glyphicon-chevron-down">

                        </span>
                         <span ng-show="itemsOrder == 'attributes.type' && direction" class="glyphicon glyphicon-chevron-up">

                        </span>
            </th>
            <th ng-click="sort('createdAt')" class="sortable">תאריך יצירה
                 <span ng-show="itemsOrder == 'createdAt' && !direction" class="glyphicon glyphicon-chevron-down">

                        </span>
                         <span ng-show="itemsOrder == 'createdAt' && direction" class="glyphicon glyphicon-chevron-up">

                        </span>
            </th>
            <th ng-click="sort('createdBy.attributes.username')" class="sortable">נוצר עי
                 <span ng-show="itemsOrder == 'attributes.createdBy.attributes.username' && !direction" class="glyphicon glyphicon-chevron-down">

                        </span>
                         <span ng-show="itemsOrder == 'attributes.createdBy.attributes.username' && direction" class="glyphicon glyphicon-chevron-up">

                        </span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="game in allGames[0] | filter: query | orderBy: itemsOrder:direction |startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>{{game.attributes.gameName}}
            </td>
            <td>{{translate(game.attributes.type)}}</td>
            <td>{{game.createdAt | date:'MM/dd/yyyy'}}</td>
            <td>{{game.attributes.createdBy.attributes.username}}</td>
            <td> 
	      <button data-toggle="modal" data-target="#duplicateTriviaModal" ng-click="gameIndex($index)" class="btn btn-default" ng-show="game.attributes.type == 'Trivia'">
		<span class="glyphicon glyphicon-import"></span>
	      </button>
	      <!-- <button class="btn btn-default"> -->
	      <!-- 	<span class="glyphicon glyphicon-eye-open"></span> -->
	      <!-- </button> -->
	    </td>
          </tr>
        </tbody>
      </table>
        <ul class="pagination page_pagination">
            <li>
                <button class="btn btn-default" ng-disabled="currentPage >= allGames[0].length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </li>
            <li>
                {{currentPage+1}}/{{numberOfPages()}}
            </li>
            <li>
                <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </li>
        </ul>
    </div>
    <!-- modal for adding new question-->
  </div>
  <div id="duplicateTriviaModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
          <h4 class="modal-title">תן שם חדש למשחק</h4>
        </div>
        <div class="modal-body">
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-12 control-label">הכנס שם חדש</label>
              <div class="col-sm-10">
                <input type="text" placeholder="הכנס שם חדש" ng-model="importTriviaName" class="form-control"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" ng-click="importGame(importTriviaName)" class="btn btn-primary">שמור משחק</button>
          <button type="button" data-dismiss="modal" class="btn btn-default">סגור </button>
        </div>
      </div>
    </div>
  </div>
</div>
