<div class="games_background">
    <h1>{{newGameModel.gameName}}</h1>
    <div class="panel panel-info">
        <div class="game-table-panel panel-heading">אפשרויות: טיפ! עבור עם העכבר על האייקונים על מנת להבין מה הם עושים
            <div class="panel-icon-wrapper right"><span type="button" onmouseover="tooltipPluse.open();" onmousemove="tooltipPluseMove();" onmouseout="tooltipPluse.remove();" ng-click="cleanModal()" data-toggle="modal" data-target="#addQuestionModal" class="glyphicon glyphicon-plus-sign"></span><span onmouseover="tooltipMinus.open();" onmousemove="tooltipMinusMove();" onmouseout="tooltipMinus.remove();" ng-click="deleteCurrentGameQuestions()" class="glyphicon glyphicon-minus-sign"></span><span onmouseover="tooltipPencil.open();" onmousemove="tooltipPencilMove();" onmouseout="tooltipPencil.remove();" class="glyphicon glyphicon-pencil"></span></div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>מספר שאלה</th>
                    <th>שאלה</th>
                    <th>תשובה 1</th>
                    <th>תשובה 2</th>
                    <th>תשובה 3</th>
                    <th>תשובה 4</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="qes in selectedGameQuestions[0]" ng-click="questionClicked($index)" ng-class="{'selected' : qes.selected == true }">
                    <td>{{$index+1}}#
		      <button ng-click="editSelectedQuestion($index)" data-toggle="modal" data-target="#addQuestionModal" class="btn btn-default">
			<span class="glyphicon glyphicon-pencil"></span>
		      </button>
		    </td>
                    <td>{{qes.attributes.question}}</td>
                    <td>{{qes.attributes.answer1}}</td>
                    <td>{{qes.attributes.answer2}}</td>
                    <td>{{qes.attributes.answer3}}</td>
                    <td>{{qes.attributes.answer4}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- modal for adding new question-->
    </div>
    <div id="addQuestionModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <h4 class="modal-title">הזן שאלה חדשה</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">הכנס שאלה</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="הכנס שאלה" ng-model="newQuestionModel.question" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label">תשובה 1</label>
                            <div class="col-sm-10">
                                <input id="answer1" type="text" placeholder="תשובה 1" ng-model="newQuestionModel.answer1" class="form-control"/>
                            </div>
                            <input type="radio" name="correctAnswer" value="1" ng-model="newQuestionModel.correctAnswer"/>
                            <label class="col-sm-12 control-label">תשובה 2</label>
                            <div class="col-sm-10">
                                <input id="answer2" type="text" placeholder="תשובה 2" ng-model="newQuestionModel.answer2" class="form-control"/>
                            </div>
                            <input type="radio" name="correctAnswer" value="2" ng-model="newQuestionModel.correctAnswer"/>
                            <label class="col-sm-12 control-label">תשובה 3</label>
                            <div class="col-sm-10">
                                <input id="answer3" type="text" placeholder="תשובה 3" ng-model="newQuestionModel.answer3" class="form-control"/>
                            </div>
                            <input type="radio" name="correctAnswer" value="3" ng-model="newQuestionModel.correctAnswer"/>
                            <label class="col-sm-10 control-label">תשובה 4</label>
                            <div class="col-sm-10">
                                <input id="answer4" type="text" placeholder="תשובה 4" ng-model="newQuestionModel.answer4" class="form-control"/>
                            </div>
                            <input type="radio" name="correctAnswer" value="4" ng-model="newQuestionModel.correctAnswer"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-show="!pencil" type="button" data-dismiss="modal" ng-click="saveNewQuestion(newQuestionModel)" class="btn btn-primary">שמור שאלה</button>
                    <button ng-show="pencil" type="button" data-dismiss="modal" ng-click="saveEditQuestion()" class="btn btn-primary">שמור שאלה</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">סגור </button>
                </div>
            </div>
        </div>
    </div>
</div>
