<div class="container">
  <div ng-show="gameIndex == 0" class="creat-game-wrapper">
    <h1 class="trivia-title">ברוך הבא לדף יצירת טריוויה</h1>
    <p class="trivia-explantion-text">אנא קרא את הקטע הבא על מנת להבין כיצד ליצור משחק טריוויה<br/>על מנת ליצור משחק יש תחילה לתת לו שם לדוגמא: הטריוויה שלי<br/>לאחר שתכניס שם למקום הייעודי בתחתית הדף לחץ על כפתור צור טריוויה<br/>לאחר לחיצה על כפתור צור טריוויה תעבור לדף ובו יהיה עליך למלא שאלה וארבע תשובות ולסמן מהי התשובה הנכונה<br/>במשחק הטריוויה ניתן ליצור כמה שאלות שתרצה למשחק אך לכל שאלה קיימות 4 תשובות בלבד
      <form role="form">
	<div class="form-group">
          <label for="exampleInputEmail1">אנא הכנס שם משחק</label>
          <input id="gameName" ng-model="triviaName" type="text" placeholder="שם משחק" class="form-control"/>
	</div>
	<button ng-click="addNewTriviaGame(triviaName)" class="btn btn-primary">צור משחק</button>
      </form>
    </p>
  </div>
  <div ng-show="gameIndex == 1" class="creat-game-wrapper">
    <h1 class="trivia-title">ברוך הבא לדף משחק הכירות</h1>
    <p class="trivia-explantion-text">אנא קרא את הקטע הבא על מנת להבין כיצד ליצור משחק טריוויה<br/>על מנת ליצור משחק יש תחילה לתת לו שם לדוגמא: הטריוויה שלי<br/>לאחר שתכניס שם למקום הייעודי בתחתית הדף לחץ על כפתור צור טריוויה<br/>לאחר לחיצה על כפתור צור טריוויה תעבור לדף ובו יהיה עליך למלא שאלה וארבע תשובות ולסמן מהי התשובה הנכונה<br/>במשחק הטריוויה ניתן ליצור כמה שאלות שתרצה למשחק אך לכל שאלה קיימות 4 תשובות בלבד
      <form role="form">
	<div class="form-group">
          <label for="exampleInputEmail1">אנא הכנס שם משחק</label>
          <input id="gameName" ng-model="introName" type="text" placeholder="שם משחק" class="form-control"/>
	</div>
	<button ng-click="addNewIntro(introName)" class="btn btn-primary">צור משחק</button>
      </form>
  </p>
  </div>
  <div ng-show="gameIndex == 2" class="creat-game-wrapper">
    <h1 class="trivia-title">ברוך הבא לדף יצירת טיול עולם</h1>
    <p class="trivia-explantion-text">אנא קרא את הקטע הבא על מנת להבין כיצד ליצור משחק טריוויה<br/>על מנת ליצור משחק יש תחילה לתת לו שם לדוגמא: הטריוויה שלי<br/>לאחר שתכניס שם למקום הייעודי בתחתית הדף לחץ על כפתור צור טריוויה<br/>לאחר לחיצה על כפתור צור טריוויה תעבור לדף ובו יהיה עליך למלא שאלה וארבע תשובות ולסמן מהי התשובה הנכונה<br/>במשחק הטריוויה ניתן ליצור כמה שאלות שתרצה למשחק אך לכל שאלה קיימות 4 תשובות בלבד
      <form role="form">
	<div class="form-group">
          <label for="exampleInputEmail1">אנא הכנס שם משחק</label>
          <input id="gameName" ng-model="TourName" type="text" placeholder="שם משחק" class="form-control"/>
	</div>
	<button ng-click="addNewWorldTour(TourName)" class="btn btn-primary">צור משחק</button>
      </form>
    </p>
  </div>
</div>
