<section class="groups_page">
<div class="search">
</div>


<div class="main_view container">
    <div class="row page_buttons">
        <div class="page_title" ng-attr-class="{{organizationAdminView && 'col-md-4' || 'col-md-10' }}">
            <h4> קבוצות </h4>
        </div>
        <div class="col-md-6" ng-show="organizationAdminView">
            <div  id="groups_filter">
              <span class="input-group-addon rtl_add_on"> הקבוצות שלי
                  <input name="modelViewRadio" type="radio" ng-click="changeModel('myGroups')" checked>
              </span>
              <span class="input-group-addon"> כל קבוצות הארגון
                  <input name="modelViewRadio" type="radio" ng-click="changeModel('allOrganizationGroup')">
              </span>
              <span ng-show="showAdminTabs" class="input-group-addon ltr_add_on"> כל הקבוצות במערכת
                  <input name="modelViewRadio" type="radio" ng-click="changeModel('allGroups')">
              </span>
            </div>
        </div>

        <div class="btn-group page_actions col-md-3">
            <button data-toggle="modal" data-target="#addNewGroupModal" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign"></span> הוסף קבוצה
            </button>

        </div>
        <div class="page_actions col-md-3">
            <button ng-show="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" type="button"
                    class="btn btn-danger disabled">
                <span class="glyphicon glyphicon-trash"></span> מחק מסומנים
            </button>

            <button ng-hide="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" data-toggle="modal"
                    data-target="#deleteSelecetedModal" type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> מחק מסומנים
            </button>
        </div>
    </div>
    <div class="main_table row">
        <div class="col-md-16 bordered_table">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th ng-click="sort('groupName')" class="col-md-3 sortable">שם הקבוצה
                         <span ng-show="itemsOrder == 'attributes.groupName' && !direction" class="glyphicon glyphicon-chevron-down">

                        </span>
                         <span ng-show="itemsOrder == 'attributes.groupName' && direction" class="glyphicon glyphicon-chevron-up">

                        </span>
                    </th>
                    <th ng-click="sort('description')" class="col-md-3 sortable">תיאור הקבוצה
                         <span ng-show="itemsOrder == 'attributes.description' && !direction" class="glyphicon glyphicon-chevron-down">

                        </span>
                         <span ng-show="itemsOrder == 'attributes.description' && direction" class="glyphicon glyphicon-chevron-up">

                        </span>
                    </th>
                    <th ng-click="sort('ownerId.attributes.username')" class="col-md-3 sortable">נוצר ע"י
                         <span ng-show="itemsOrder == 'attributes.ownerId.attributes.username' && !direction" class="glyphicon glyphicon-chevron-down">

                        </span>
                         <span ng-show="itemsOrder == 'attributes.ownerId.attributes.username' && direction" class="glyphicon glyphicon-chevron-up">

                        </span>
                    </th>
                    <th ng-click="sort('createdAt')" class="col-md-3 sortable">תאריך יצירת הקבוצה
                         <span ng-show="itemsOrder == 'createdAt' && !direction" class="glyphicon glyphicon-chevron-down">

                        </span>
                         <span ng-show="itemsOrder == 'createdAt' && direction" class="glyphicon glyphicon-chevron-up">

                        </span>
                    </th>
                    <th class="col-md-3"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="group cf" ng-repeat="item in groups | filter: query | orderBy: itemsOrder:direction | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td>
        <span class="input-group-addon chechbox_placeholder">
          <input ng-checked="checkedItems.indexOf(item) == -1" ng-click="toggleCheck(item)" class="tsamid_checkbox"
                 type="checkbox" id="{{item.id}}">
        </span>
                    </td>
                    <td>

                        <div class="table_text">
                           {{item.attributes.groupName}}
                        </div>

                    </td>
                    <td>
                        <div class="table_text">
                           {{item.attributes.description}}
                        </div>
                    </td>
                    <td>
                        <div class="table_text">
                            {{item.attributes.ownerId.attributes.username}}
                        </div>
                    </td>
                    <td>
                        <div class="table_text">
                            {{item.createdAt.toDateString()}}
                        </div>
                    </td>

                    <td>
                        <div class="actions col-md-16">
                            <a href="#/Groups_Manage/{{groups.indexOf(item)}}">
                                <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil">   </span>
                                </button>
                            </a>
                            <button data-toggle="modal" data-target="#sendMailToGroupModal{{$index}}" type="button"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-envelope">   </span>
                            </button>
                            <button data-toggle="modal" data-target="#deleteDialog{{$index}}" type="button"
                                    class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>




                        </div>
                        <div class="modal fade" id="sendMailToGroupModal{{$index}}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">שליחת דוא"ל</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label>נושא ההודעה</label>
                                                <input name="address" cols="80" rows="10" class="form-control"
                                                       ng-model="email.subject"
                                                       placeholder="הכנס נושא"></input>
                                            </div>
                                            <div class="form-group">
                                                <label>תוכן ההודעה</label>
                                                <textarea name="address" cols="80" rows="10" class="form-control"
                                                          ng-model="email.fullText"
                                                          placeholder="הכנס תוכן"></textarea>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">ביטול
                                        </button>
                                        <button data-dismiss="modal" id="save_changes" type="button"
                                                ng-click="sendEmail(email , item )" class="btn btn-primary">
                                            שלח
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="deleteDialog{{$index}}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">מחיקת קבוצה</h4>
                                    </div>
                                    <div class="modal-body">
                                        האם את\ה בטוח\ה שאת\ה רוצה למחוק את הקבוצה?
                                        <form role="form">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">ביטול
                                        </button>
                                        <button data-dismiss="modal" id="delete_group" type="button"
                                                ng-click="deleteGroup(item , $index)" class="btn btn-danger">מחק
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </td>

                </tr>
                </tbody>
            </table>
            <ul class="pagination page_pagination">
                <li>
                    <button class="btn btn-default" ng-disabled="currentPage >= groups.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </li>
                <li>
                    {{currentPage+1}}/{{numberOfPages()}}
                </li>
                <li>
                    <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                </li>
            </ul>
        </div>

    </div>
</div>


<div class="modal fade" id="addNewGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
                <h4 class="modal-title" id="myModalLabel">הוסף קבוצה</h4>
            </div>
            <div class="modal-body">
                <form name="addNewGroupForm" novalidate>
                    <div class="form-group"
                         ng-class="{ 'has-error' : addNewGroupForm.name.$invalid && !addNewGroupForm.name.$pristine }">
                        <label>שם הקבוצה * </label>
                        <input name="name" type="text" class="form-control" placeholder="הכנס שם"
                               ng-model='newGroup.groupName' required>

                        <p ng-show="addNewGroupForm.name.$invalid && !addNewGroupForm.name.$pristine"
                           class="help-block">שם קבוצה הוא הכרחי</p>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : addNewGroupForm.description.$error.maxlength }">
                        <label>תיאור הקבוצה</label>
                        <input maxlength="31" ng-maxlength=30 name="description" type="text" class="form-control" placeholder="הכנס תיאור קצר"
                               ng-model='newGroup.description'>
                        <p ng-show="!addNewGroupForm.description.$error.maxlength">{{30 - newGroup.description.length}} chars remaining</p>
                        <p ng-show="addNewGroupForm.description.$error.maxlength">Error - Max Chars Reached</p>

                        <p ng-show="addNewGroupForm.name.$invalid && !addNewGroupForm.name.$pristine"
                           class="help-block">תיאור קבוצה הוא הכרחי</p>
                    </div>
                    <div class="form-group">
                        <label>תמונה * </label>
                        <input id="fileUploader" type="file" class="form-control"
                               ng-model='newGroup.imageFile' required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                <button data-dismiss="modal" id="save_changes" type="button" ng-click="saveGroup(newGroup)"
                        ng-disabled=!addNewGroupForm.$valid class="btn btn-primary">שמור קבוצה
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteSelecetedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">מחיקת קבוצות מסומנות</h4>
            </div>
            <div class="modal-body">
                האם את\ה בטוח\ה שאת\ה רוצה למחוק את כל הקבוצות?
                <form role="form">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                <button data-dismiss="modal" id="delete_game" type="button" ng-click="deleteSelectedItems()"
                        class="btn btn-danger">מחק
                </button>
            </div>
        </div>
    </div>
</div>

</section>