<div class="games_background">
  <div ng-controller="MyGamesTableCtrl">
    <h1>המשחקים שלי</h1>
    <div class="panel panel-info">
      <div class="game-table-panel panel-heading">אפשרויות: טיפ! עבור עם העכבר על האייקונים על מנת להבין מה הם עושים
	<div class="panel-icon-wrapper right">
	  <span type="button" onmouseover="tooltipPluse.open();" onmousemove="tooltipPluseMove();" onmouseout="tooltipPluse.remove();" data-toggle="modal" data-target="#addQuestionModal" class="glyphicon glyphicon-eye-open"></span>
	  <span type="button" onmouseover="tooltipPluse.open();" onmousemove="tooltipPluseMove();" onmouseout="tooltipPluse.remove();" data-toggle="modal" data-target="#addQuestionModal" class="glyphicon glyphicon-pencil"></span>
	  <span onmouseover="tooltipMinus.open();" onmousemove="tooltipMinusMove();" onmouseout="tooltipMinus.remove();" class="glyphicon glyphicon-trash"></span>
	</div>
      </div>
      <div class="table-responsive">
	<table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>סוג</th>
              <th>שם המשחק</th>
              <th>תאריך יצירה</th>
              <th>פעולות</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="game in allMyGames[0] | filter: query | orderBy: itemsOrder:direction | startFrom:currentPage*pageSize | limitTo:pageSize">
              <td>{{game.attributes.type}}</td>
              <td>{{game.attributes.gameName}}</td>
              <td>{{game.createdAt | date:'dd/MM/yyyy בשעה: h:mma'}}</td>
              <td> 
		<!-- <button class="btn btn-default"> -->
		<!--   <span class="glyphicon glyphicon-eye-open"></span> -->
		<!-- </button> -->
		<button ng-click="deleteSelectedGame(game,$index)" class="btn btn-danger">
		  <span class="glyphicon glyphicon-trash"></span>
		</button>
		<button ng-show="game.attributes.type == 'Trivia'" ng-click="goToSelectedGame($index)" class="btn btn-default">
		  <span class="glyphicon glyphicon-pencil"></span>
		</button>
	      </td>
            </tr>
          </tbody>
	</table>
          <ul class="pagination page_pagination">
              <li>
                  <button class="btn btn-default" ng-disabled="currentPage >= allMyGames[0].length/pageSize - 1" ng-click="currentPage=currentPage+1">
                      <span class="glyphicon glyphicon-arrow-right"></span>
                  </button>
              </li>
              <li>
                  {{currentPage+1}}/{{numberOfPages()}}
              </li>
              <li>
                  <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                      <span class="glyphicon glyphicon-arrow-left"></span>
                  </button>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>
