<section ng-show="showAdminTabs" class="organizations_page">

<div class="main_view container">
<div class="row page_buttons">
    <div class="page_title col-md-10">
        <h4> ארגונים </h4>
    </div>
    <div class="btn-group page_actions col-md-3">
        <button data-toggle="modal" data-target="#addNewOrganizationModal" type="button" class="btn btn-success ">
            <span class="glyphicon glyphicon-plus"></span> הוסף ארגון
        </button>

    </div>
    <div class="page_actions col-md-3">
        <button ng-show="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" type="button"
                class="btn btn-danger  disabled">
            <span class="glyphicon glyphicon-trash"></span> מחק מסומנים
        </button>
        <button ng-hide="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" data-toggle="modal"
                data-target="#deleteSelecetedModal" type="button" class="btn btn-danger ">
            <span class="glyphicon glyphicon-trash"></span> מחק מסומנים
        </button>

    </div>
    </div>
<div class="main_table row">
    <div class="col-md-16 bordered_table">
        <table class="table table-hover col-md-16">
            <thead>
            <tr>
                <th class="col-md-1"></th>
                <th ng-click="sort('name')" class="col-md-6 sortable">שם הארגון</th>
                <th ng-click="sort('createdAt')" class="col-md-6 sortable">תאריך יצירת הארגון</th>
                <th class="col-md-3"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="organization cf" ng-repeat="item in organizations | filter: query | orderBy: itemsOrder:direction">
                <td>
        <span class="input-organization-addon chechbox_placeholder">
          <input ng-checked="checkedItems.indexOf(item) == -1" ng-click="toggleCheck(item)" class="tsamid_checkbox" type="checkbox" id="{{item.id}}">
        </span>
                </td>
                <td>

                    <div class="table_text show_details_text sortable" data-target="#viewOrganizationDetailsModal{{$index}}" data-toggle="modal">
                        {{item.attributes.name}}
                    </div>

                    <div class="modal fade" id="viewOrganizationDetailsModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">שם הארגון : {{item.attributes.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <h4 class="modal-title" id="myModalLabel">תיאור הארגון : {{item.attributes.description}}</h4>
                                        </div>
                                       <!--  <div class="form-group">
                                            <h4 class="modal-title" >משתמשים: </h4>
                                            <ul class="list-group">
                                                <li class="list-group-item row" ng-repeat="user in item.users">
                                                    <div class="col-md-4">{{user.attributes.username}}</div>
                                                </li>
                                            </ul>
                                        </div> -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">יציאה</button>

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="table_text">
                        {{item.createdAt.toDateString()}}
                    </div>
                </td>

                <td>
                    <div class="actions col-md-16">

                        <button class="btn btn-default" data-toggle="modal" data-target="#editOrganizationModal{{$index}}">
                            <span class="glyphicon glyphicon-pencil">   </span>
                        </button>
                        <div class="modal fade" id="editOrganizationModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">עריכת ארגון</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label>שם הארגון</label>
                                                <input type="text" ng-model="item.attributes.name" name="address"  class="form-control"
                                                       placeholder="הכנס שם"
                                                       class="form-control">
                                                </input>
                                            </div>
                                            <div class="form-group">
                                                <label>תיאור הארגון</label>
                                                <input type="text" ng-model="item.attributes.description" name="address"  class="form-control"
                                                       placeholder="הכנס תיאור"></input>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                                        <button data-dismiss="modal" id="save_changes" type="button" ng-click="saveOrganization(item)" class="btn btn-primary">
                                            שמור שינויים
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button ng-show="isActive(item)" data-toggle="modal" data-target="#deactivateDialog{{$index}}" type="button"
                                class="btn btn-success">
                            <span class="glyphicon glyphicon-off"></span>
                        </button>
                        <button ng-hide="isActive(item)" data-toggle="modal" type="button" data-target="#activateDialog{{$index}}"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-off"></span>
                        </button>
                    </div>
                    <div class="modal fade" id="deactivateDialog{{$index}}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel"> הוצאה מפעילות </h4>
                                </div>
                                <div class="modal-body">
                                    האם את\ה רוצה להוציא את הארגון מפעילות?
                                    <form role="form">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                                    <button data-dismiss="modal" id="delete_organization" type="button"
                                            ng-click="deactivateOrganization(item)" class="btn btn-danger">הוצא
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="activateDialog{{$index}}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">הפעל ארגון</h4>
                                </div>
                                <div class="modal-body">
                                 האם את\ה רוצה להפעיל את הארגון?
                                    <form role="form">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                                    <button data-dismiss="modal" id="delete_organization" type="button"
                                            ng-click="activateOrganization(item)" class="btn btn-success">הפעל
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>
            </tbody>
        </table>
        </div>
    </div>


</div>



<div class="modal fade" id="addNewOrganizationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="initLocalVars()">&times;</button>
                <h4 class="modal-title" id="myModalLabel">הוספת אירגון חדש
                    <ul class="nav nav-pills">
                        <li ng-class="{ active: isStepActive('1') }" ><a>שלב 1</a></li>
                        <li ng-class="{ active: isStepActive('2') }" ><a>שלב 2</a></li>
                    </ul>
                </h4>
            </div>

            <div class="modal-body">
                <form ng-show="step1" role="form" name="AddOrganizationStep1Form" novalidate>
                    <div class="form-organization" ng-class="{ 'has-error' : AddOrganizationStep1Form.name.$invalid && !AddOrganizationStep1Form.name.$pristine }">
                        <label>שם הארגון * </label>
                        <input name="name" type="text" class="form-control" placeholder="שם הארגון"
                               ng-model='newOrganization.name' required>
                        <p ng-show="AddOrganizationStep1Form.name.$invalid && !AddOrganizationStep1Form.name.$pristine" class="help-block">שם הארגון הינו שדה חובה!</p>

                        <label>תיאור הארגון * </label>
                        <input name="description" type="text" class="form-control" placeholder="תיאור האירגון"
                               ng-model='newOrganization.description' required>
                        <p ng-show="AddOrganizationStep1Form.description.$invalid && !AddOrganizationStep1Form.description.$pristine" class="help-block">תיאור הארגון הינו שדה חובה!</p>
                    </div>
                </form>

                <form role="form" ng-show="step2" name="AddOrganizationStep2Form" novalidate>
                    <div class="form-group">
                        <label>חיפוש שם משתמש</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="שם משתמש"
                                   ng-keyup="googleSearch(userNameQuery)"     ng-model='userNameQuery' required>
                            <span class="input-group-addon">  <span ng-hide="doneAdding" class="glyphicon glyphicon-search"></span> </span>
                        </div>
                    </div>
                    <ul class="query_list list-group">
                        <li ng-animate="animate" class="itemQuery list-group-item {active:hover} row" ng-repeat="itemQuery in queryResults">
                            <div class="col-xs-6 col-md-3">
                                <a href="{{itemQuery.url}}" class="thumbnail">
                                    <img ng-src="{{itemQuery.image.url}}">
                                </a>
                            </div>

                            <div class="user_name col-xs-8 col-md-4"> {{itemQuery.displayName}} </div>

                            <div class="col-xs-4 col-md-2 col-md-offset-6">

                                <button ng-click="setNewUser(itemQuery)" type="button" class="btn btn-success btn-lg">
                                    <span ng-hide="doneAdding" class="glyphicon glyphicon-plus"></span>
                                    <span ng-show="doneAdding" class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" ng-show="step2" ng-click="previousStep(newOrganization)" class="btn btn-primary" >חזרה</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="initLocalVars()">ביטול</button>
                <button ng-show="step1" type="button" ng-click="nextStep(newOrganization)"
                        class="btn btn-primary">הבא
                </button>
                <button ng-show="step2" data-dismiss="modal" id="save_changes" type="button" ng-click="saveNewOrganization(); initLocalVars()"
                        class="btn btn-primary" ng-disabled=!AddOrganizationStep1Form.$valid>שמירה
                </button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="deleteSelecetedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">מחיקת ארגונים מסומנים</h4>
            </div>
            <div class="modal-body">
                האם את\ה בטוח\ה שאת\ה רוצה למחוק את כל הארגונים המסומנים?
                <form role="form">
                </form>
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                <button  data-dismiss="modal" id="delete_organization" type="button" ng-click="deleteSelectedItems()" class="btn btn-danger">מחיקה</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNewUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add New User</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label> Search For User Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter User Name"
                                   ng-keyup="googleSearch(userNameQuery)"     ng-model='userNameQuery' required>
                            <span class="input-group-addon">  <span ng-hide="doneAdding" class="glyphicon glyphicon-search"></span> </span>
                        </div>

                    </div>


                    <ul class="query_list list-group">
                        <li ng-animate="animate" class="itemQuery list-group-item {active:hover} row" ng-repeat="itemQuery in queryResults">

                            <div class="col-xs-6 col-md-3">
                                <a href="{{itemQuery.url}}" class="thumbnail">
                                    <img ng-src="{{itemQuery.image.url}}">
                                </a>
                            </div>

                            <div class="user_name col-xs-8 col-md-4"> {{itemQuery.displayName}} </div>

                            <div class="col-xs-4 col-md-2 col-md-offset-6">

                                <button ng-click="setNewUser(itemQuery)" type="button" class="btn btn-success btn-lg">
                                    <span ng-hide="doneAdding" class="glyphicon glyphicon-plus"></span>
                                    <span ng-show="doneAdding" class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

</section>