<section class="userpage">


<div class="main_view container">
<div class="row page_buttons">
    <div class="page_title col-md-10">
           <h4> משתמשים </h4>
    </div>
    <div  class="btn-group  page_actions col-md-3">
        <button data-toggle="modal" data-target="#addNewUserModal" type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> הוספת משתמש
        </button>
    </div>

    <div align="right" class="page_actions col-md-3">
        <button ng-show="disableDeleteButtonDisplay && organizationAdminView" ng-style="deleteSelectedButtonStyle" type="button" class="btn btn-danger  disabled">
            <span class="glyphicon glyphicon-trash"></span> מחיקת מסומנים
        </button>
        <button ng-show="!disableDeleteButtonDisplay && organizationAdminView" ng-style="deleteSelectedButtonStyle" data-toggle="modal" data-target="#deleteSelecetedModal" type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> מחיקת מסומנים
        </button>
    </div>
    </div>
<div class="main_table row">
    <div class="col-md-16 bordered_table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
                <th ng-click="sort('username')" class="col-md-4 sortable">שם משתמש</th>

                <th ng-click="sort('email')" class="col-md-2 sortable">דוא"ל</th>
                <th ng-click="sort('privileges')" class="col-md-2 sortable">הרשאות</th>
                <th class="col-md-2"></th>
            </tr>
            </thead>

            <tbody>
            <tr class="user cf" ng-repeat="item in users | filter: query | orderBy: itemsOrder:direction">
                <td>
            <span class="input-group-addon chechbox_placeholder">
                <input class="tsamid_checkbox" type="checkbox" id="{{item.id}}">
            </span>
                </td>
                <td>
                    <div class="imagePlaceHolder">
                        <img ng-src='{{item.attributes.imageUrl}}' alt="{{item.attributes.username}}" class="img-thumbnail">
                    </div>
                </td>

                <td>
                    <div class="table_text show_details_text sortable" data-target="#showUserModal{{$index}}" data-toggle="modal">
                        {{item.attributes.username}}
                    </div>
                    <div class="modal fade" id="showUserModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">User: "{{item.attributes.username}}"</h4>
                                </div>

                                <div class="modal-body row">
                                    <form name="showUserForm">
                                        <div class="form-group col-md-8">
                                            <label>דוא"ל של המשתמש </label>
                                            <input name="name" type="email" class="form-control" ng-model=item.attributes.email disabled>
                                        </div>

                                        <div class="form-group col-md-8">
                                            <label>כתובת המשתמש </label>
                                            <input name="address" type="text" class="form-control" ng-model=item.attributes.address disabled>
                                        </div>

                                        <div class="form-group col-md-8">
                                            <label>מין המשתמש </label>
                                            <input name="gender" type="text" class="form-control" ng-model=item.attributes.gender disabled>
                                        </div>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button  type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </td>


                <td>
                    <div class="table_text">
                        {{item.attributes.email}}
                    </div>
                </td>

                <td>
                    <div class="table_text">
                        {{item.attributes.privileges}}
                    </div>
                </td>

                <td>
                    <div class="actions col-md-16">

                        <button ng-show="organizationAdminView" data-toggle="modal" data-target="#editUserModal{{$index}}" type="button"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                        <div class="modal fade" id="editUserModal{{$index}}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">עריכת משתמש </h4>
                                    </div>

                                    <div class="modal-body">
                                        <form role="form" name="editUserForm" novalidate>
                                            <div class="form-group" ng-class="{ 'has-error' : editUserForm.email.$invalid && !editUserForm.email.$pristine }">
                                                <label>דוא"ל של המשתמש * </label>
                                                <input name="email" type="email" class="form-control" ng-model=item.attributes.email
                                                       placeholder='הכנס דוא"ל' required="">
                                                <p ng-show="editUserForm.email.$invalid && !editUserForm.email.$pristine" class="help-block">דוא"ל של המשתמש הכרחי</p>
                                            </div>

                                            <div class="form-group">
                                                <label> כתובת </label>
                                                <input name="address" type="text" class="form-control" ng-model=item.attributes.address
                                                       placeholder="הכנס כתובת">
                                            </div>

                                            <div class="form-group">
                                                <label>מין המשתמש</label>
                                                <select ng-init='item.attributes.gender' ng-model="item.attributes.gender" class="form-control">
                                                    <option selected="{isSelected(item , 'male')}" value="male">זכר</option>
                                                    <option selected="{isSelected(item , 'female')}" value="female">נקבה</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                                        <button data-dismiss="modal" id="save_changes" type="button"
                                                ng-click="saveUser(item)" class="btn btn-primary"
                                                ng-disabled=!editUserForm.$valid>שמור שינויים
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <button ng-show="organizationAdminView" data-toggle="modal" data-target="#deleteDialog{{$index}}" type="button"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>

                        <div class="modal fade" id="deleteDialog{{$index}}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">מחיקת משתמש</h4>
                                    </div>

                                    <div class="modal-body">
האם את\ה בטוח\ה שאת\ה רוצה למחוק את המשתמש?
                                        <form role="form">
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                                        <button data-dismiss="modal" id="delete_game" type="button"
                                                ng-click="deleteUser(item)" class="btn btn-danger">מחק
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>


            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>



<div class="modal fade" id="addNewUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">הוספת משתמש</h4>
            </div>

            <div class="modal-body">
                <form role="form" name="addNewUserForm" novalidate>
                    <div class="form-group">
                        <label> חפש משתמש</label>
                        <div class="input-group">
                            <span class="input-group-addon rtl_add_on">  <span ng-hide="doneAdding" class="glyphicon glyphicon-search"></span> </span>
                            <input name="name" type="text" class="form-control rtl_input" placeholder="הכנס שם"
                                   ng-keyup="googleSearch(userNameQuery);" ng-model='userNameQuery'>

                        </div>
                    </div>

                    <ul class="query_list list-group">
                        <li ng-animate="animate" class="itemQuery list-group-item {active:hover} row" ng-repeat="itemQuery in queryResults">

                            <div class="col-xs-6 col-md-3">
                                <a href="{{itemQuery.url}}" class="thumbnail">
                                    <img ng-src="{{itemQuery.image.url}}">
                                </a>
                            </div>

                            <div class="user_name col-xs-8 col-md-4"> {{itemQuery.displayName}} </div>

                            <div class="col-xs-4 col-md-2 col-md-offset-6">
                                <button ng-click="userSelected(itemQuery)" type="button" class="btn btn-success btn-lg">
                                    <span   ng-hide="doneAdding" class="glyphicon glyphicon-plus"></span>
                                    <span  ng-show="doneAdding" class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                        </li>
                    </ul>


                        <div class="form-group">
                            <label ng-show="organizationAdminView"> חניך
                                <input type="radio" name="guide" ng-click="isItRegularUserOrAGuide(newUserModal)">
                            </label>
                            <label ng-show="organizationAdminView"> מדריך
                                <input type="radio" name="guide" ng-click="isItRegularUserOrAGuide(newUserModal)">
                            </label>
                        </div>


                    <div class="form-group" ng-class="{ 'has-error' : addNewUserForm.email.$invalid && !addNewUserForm.email.$pristine }">
                        <label> דוא"ל של המשתמש * </label>
                        <div class="input-group">
                            <input name="email" type="email" class="form-control" placeholder="הכנס דוא"ל
                                   ng-model='newUserModal.email' required>
                            <p ng-show="addNewUserForm.email.$invalid && !addNewUserForm.email.$pristine" class="help-block">דוא"ל הוא הכרחי</p>
                        </div>
                    </div>
                    <div class="form-group">
                    <label> כתובת משתמש </label>
                    <div class="input-group">
                        <input name="address" type="text" class="form-control" placeholder="הכנס כתובת"
                               ng-model='newUserModal.address'>
                    </div>
                    </div>
                    <div class="form-group">
                    <label> מין המשתמש </label>
                    <select ng-model='newUserModal.gender' class="form-control">
                        <option value="male">זכר</option>
                        <option value="female">נקבה</option>
                    </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                <button data-dismiss="modal" id="save_changes" type="button" ng-click="addNewUser(itemQuery, newUserModal)"
                        class="btn btn-primary" ng-disabled="!addNewUserForm.$valid || !userIsSelected">שמור משתמש חדש
                </button>
            </div>

        </div>
    </div>
</div>
</section>