<section class="favourites_page">
<div class="row">

</div>

<div class="main_view container">
    <div class="row page_buttons">
        <div class="btn-group page_actions col-md-3 col-md-offset-10">
            <button data-toggle="modal" data-target="#addNewFavoriteModal" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> Add Favorite
            </button>

        </div>
        <div class="page_actions col-md-3">
            <button ng-show="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" type="button"
                    class="btn btn-danger  disabled">
                <span class="glyphicon glyphicon-trash"></span> Delete Selected
            </button>

            <button ng-hide="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" data-toggle="modal"
                    data-target="#deleteSelecetedModal" type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Delete Selected
            </button>
        </div>

        </div>
    <div class="main_table row">
        <div class="col-md-16 bordered_table">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">Select</th>
                    <th class="col-md-2">Image</th>
                    <th ng-click="sort('name')" class="col-md-4 sortable">Content Title</th>
                    <th ng-click="sort('type')" class="col-md-2 sortable">Type</th>
                    <th ng-click="sort('createdAt')" class="col-md-5 sortable">Date Created</th>
                    <th class="col-md-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="content cf" ng-repeat="item in favorites | filter: query | orderBy: itemsOrder:direction">
                    <td>
        <span class="input-group-addon chechbox_placeholder">
          <input ng-checked="checkedItems.indexOf(item) == -1" ng-click="toggleCheck(item)" class="tsamid_checkbox" type="checkbox" id="{{item.id}}">
        </span>
                    </td>

                    <td class="imagePlaceHolder">
                        <div  align="center">
                            <img  src='{{item.attributes.imageFile._url}}' alt="{{item.attributes.name}}" class="img-thumbnail">
                        </div>

                    </td>
                    <td>
                        <div class="table_text">
                            {{item.attributes.name}}
                        </div>
                        <div class="modal fade" id="editFavoriteModal{{$index}}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Edit Content</h4>
                                    </div>
                                    <div class="modal-body row">
                                        <form name="editFavoriteForm" novalidate>
                                            <div class="form-group col-md-8" ng-class="{ 'has-error' : editFavoriteForm.name.$invalid && !editFavoriteForm.name.$pristine }">
                                                <label>Favorite Title * </label>
                                                <input name="name" type="text" class="form-control" ng-model=item.attributes.name
                                                       placeholder="Enter User Name" required>
                                                <p ng-show="editFavoriteForm.name.$invalid && !editFavoriteForm.name.$pristine" class="help-block">Favorite Title Is required.</p>
                                                <label>Favorite Type</label>
                                                <select ng-init='item.attributes.type' ng-model="item.attributes.type"
                                                        class="form-control" required>
                                                    <option selected="{isSelected(item , 'food')}" value="food">Food</option>
                                                    <option selected="{isSelected(item , 'music')}" value="music">Music</option>
                                                    <option selected="{isSelected(item , 'movie')}" value="movie">
                                                        Movie
                                                    </option>
                                                    <option selected="{isSelected(item , 'hobby')}" value="hobby">Hobby
                                                    </option>
                                                    <option selected="{isSelected(item , 'animal')}" value="animal">Animal
                                                    </option>
                                                </select>

                                            </div>

                                            <div class="form-group col-md-8">
                                                <label>Favorite Image</label>
                                                <img  src='{{item.attributes.imageFile._url}}' alt="{{item.attributes.name}}" class="img-thumbnail">

                                                <input style="width: 100%" id="editFavoriteFileUploader{{$index}}" type="file" class="form-control"
                                                       ng-model='newFavoriteModel.imageFile'>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button data-dismiss="modal" id="save_changes" type="button"
                                                ng-disabled=!editFavoriteForm.$valid ng-click="editFavorite(item , $index)" class="btn btn-primary">Save changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{item.attributes.type}}
                    </td>
                    <td>
                        {{item.createdAt}}
                    </td>


                    <td>
                        <div ng-show="showActions[$index]" class="actions col-md-16">
                            <button data-toggle="modal"    data-target="#deleteDialog{{$index}}" type="button"
                                    class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <div class="modal fade" id="deleteDialog{{$index}}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Delete Content</h4>
                                        </div>
                                        <div class="modal-body">
                                            Are You Sure You Want To Delete {{item.attributes.title}} ?
                                            <form role="form">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button data-dismiss="modal" id="delete_game" type="button"
                                                    ng-click="deleteFavorite(item , $index)" class="btn btn-danger">Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            </div>

    </div>


</div>



<div class="modal fade" id="addNewFavoriteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add New Favorite</h4>
            </div>
            <div class="modal-body">
                <form role="form"  ng-submit="submitForm(addNewFavoriteForm.$valid)" name="addNewFavoriteForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : addNewFavoriteForm.name.$invalid && !addNewFavoriteForm.name.$pristine }">
                        <label>Favorite Title * </label>
                        <input name="name" type="text" class="form-control" placeholder="Enter Favorite Title"
                               ng-model='newFavoriteModel.name' required>
                        <p ng-show="addNewFavoriteForm.name.$invalid && !addNewFavoriteForm.name.$pristine" class="help-block">Favorite Title Is required.</p>
                    </div>
                    <div class="form-group">
                        <label>Favorite Type * </label>
                        <select ng-model='newFavoriteModel.type' class="form-control" required>
                            <option value="food">Food</option>
                            <option value="music">Music</option>
                            <option value="movie">Movie</option>
                            <option value="hobby">Hobby</option>
                            <option value="hobby">Animal</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label>Favorite Image * </label>
                        <input id="fileUploader" type="file" class="form-control"
                               ng-model='newFavoriteModel.imageFile' required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button data-dismiss="modal" id="save_changes" type="button" ng-disabled=!addNewFavoriteForm.$valid ng-click="saveFavorite(newFavoriteModel , addNewFavoriteForm.$valid)"
                        class="btn btn-primary">Save New Content
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteSelecetedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Selected Games</h4>
            </div>
            <div class="modal-body">
                Are You Sure You Want To Delete All Selected Items  ?
                <form role="form">
                </form>
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button  data-dismiss="modal" id="delete_game" type="button" ng-click="deleteSelectedItems()" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
</section>