<section class="userpage">

<h1 class="page_title" align="center">Users
    <Manager></Manager>
</h1>

<div class="input-group col-md-offset-6 col-md-4">
    <input type="text" ng-model="query" class="form-control" placeholder="Search for user">
    <span class="input-group-addon"> <span class="glyphicon glyphicon-search"></span> </span>
</div>

<div class="row">
    <select ng-model="itemsOrder" class="form-control col-md-offset-6 col-md-4">
        <option value="attributes.username">User Name</option>
        <option value="attributes.email">Email</option>
        <option value="attributes.privileges">Privilege</option>
    </select>
</div>

<div class="row">
    <div class="col-md-offset-6 col-md-4" id="sort_direction">
        <label class="input-group-addon"> ascending
            <input type="radio" ng-model="direction" name="direction" checked>
        </label>
        <label class="input-group-addon"> descending
            <input type="radio" ng-model="direction" name="direction" value="reverse">
        </label>
    </div>
</div>

<div class="row">
    <div class="btn-group btn-group-lg page_actions col-md-3 col-md-offset-2">
        <button data-toggle="modal" data-target="#addNewUserModal" type="button" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-plus"></span> Add New User
        </button>
    </div>

    <div class="page_actions col-md-3">
        <button ng-show="disableDeleteButtonDisplay && organizationAdminView" ng-style="deleteSelectedButtonStyle" type="button" class="btn btn-danger btn-lg disabled">
            <span class="glyphicon glyphicon-trash"></span> Delete Selected
        </button>
        <button ng-show="!disableDeleteButtonDisplay && organizationAdminView" ng-style="deleteSelectedButtonStyle" data-toggle="modal" data-target="#deleteSelecetedModal" type="button" class="btn btn-danger btn-lg">
            <span class="glyphicon glyphicon-trash"></span> Delete Selected
        </button>
    </div>
</div>

<table class="table table-hover table-bordered col-md-12">
    <thead>
    <tr>
        <th class="table-bordered col-md-1">Select</th>
        <th ng-click="sort('username')" class="table-bordered col-md-4 sortable">User Name</th>
        <th ng-click="sort('email')" class="table-bordered col-md-2 sortable">Email</th>
        <th ng-click="sort('privileges')" class="table-bordered col-md-2 sortable">Privilege</th>
        <th class="table-bordered col-md-1">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr class="user cf" ng-repeat="item in users | filter: query | orderBy: itemsOrder:direction">
        <td>
            <span class="input-group-addon chechbox_placeholder">
                <input class="tsamid_checkbox" type="checkbox" id="{{item.id}}">
            </span>
        </td>

        <td>
            <button class="btn btn-primary" data-toggle="modal" data-target="#showUserModal{{$index}}">
                {{item.attributes.username}}
            </button>

            <div class="modal fade" id="showUserModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">User: "{{item.attributes.username}}"</h4>
                        </div>

                        <div class="modal-body row">
                            <form name="showUserForm">
                                <div class="form-group col-md-8">
                                    <label>User email: </label>
                                    <input name="name" type="email" class="form-control" ng-model=item.attributes.email disabled>
                                </div>

                                <div class="form-group col-md-8">
                                    <label>Address: </label>
                                    <input name="address" type="text" class="form-control" ng-model=item.attributes.address disabled>
                                </div>

                                <div class="form-group col-md-8">
                                    <label>Gender: </label>
                                    <input name="gender" type="text" class="form-control" ng-model=item.attributes.gender disabled>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </td>

        <td>
            <input class="form-control" type="text" ng-model=item.attributes.email readonly>
        </td>

        <td>
            <input class="form-control" type="text" ng-model=item.attributes.privileges readonly>
        </td>

        <td>
            <div class="actions col-md-16">

                <button ng-show="organizationAdminView" data-toggle="modal" data-target="#editUserModal{{$index}}" type="button"
                        class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <div class="modal fade" id="editUserModal{{$index}}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Edit User: {{item.attributes.username}} </h4>
                            </div>

                            <div class="modal-body">
                                <form role="form" name="editUserForm" novalidate>
                                    <div class="form-group" ng-class="{ 'has-error' : editUserForm.email.$invalid && !editUserForm.email.$pristine }">
                                        <label>User Email * </label>
                                        <input name="email" type="email" class="form-control" ng-model=item.attributes.email
                                               placeholder="Enter user email" required>
                                        <p ng-show="editUserForm.email.$invalid && !editUserForm.email.$pristine" class="help-block">User email is required.</p>
                                    </div>

                                    <label>User address </label>
                                    <input name="address" type="text" class="form-control" ng-model=item.attributes.address
                                           placeholder="Enter user address">

                                    <label>User gender </label>
                                    <select ng-init='item.attributes.gender' ng-model="item.attributes.gender" class="form-control">
                                        <option selected="{isSelected(item , 'male')}" value="male">Male</option>
                                        <option selected="{isSelected(item , 'female')}" value="female">Female</option>
                                    </select>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button data-dismiss="modal" id="save_changes" type="button"
                                        ng-click="saveUser(item)" class="btn btn-primary"
                                        ng-disabled=!editUserForm.$valid>Save changes
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <button ng-show="organizationAdminView" data-toggle="modal" data-target="#deleteDialog{{$index}}" type="button"
                        class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <div class="modal fade" id="deleteDialog{{$index}}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Delete User</h4>
                            </div>

                            <div class="modal-body">
                                Are You Sure You Want To Delete {{item.attributes.username}} ?
                                <form role="form">
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button data-dismiss="modal" id="delete_game" type="button"
                                        ng-click="deleteUser(item , $index)" class="btn btn-danger">Delete
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </td>

        <td width="1%">
        </td>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="addNewUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add New User</h4>
            </div>

            <div class="modal-body">
                <form role="form" name="addNewUserForm" novalidate>
                    <div class="form-group">
                        <label> Search For User Name</label>
                        <div class="input-group">
                            <input name="name" type="text" class="form-control" placeholder="Enter User Name"
                                   ng-keyup="googleSearch(userNameQuery); userSelected=false" ng-model='userNameQuery'>
                            <span class="input-group-addon">  <span ng-hide="doneAdding" class="glyphicon glyphicon-search"></span> </span>
                        </div>
                    </div>

                    <ul class="query_list list-group">
                        <li ng-animate="animate" class="itemQuery list-group-item {active:hover} row" ng-repeat="itemQuery in queryResults">

                            <div class="col-xs-6 col-md-3">
                                <a href="{{itemQuery.url}}" class="thumbnail">
                                    <img ng-src="{{itemQuery.image.url}}">
                                </a>
                            </div>

                            <div class="user_name col-xs-8 col-md-4"> {{itemQuery.displayName}} </div>

                            <div class="col-xs-4 col-md-2 col-md-offset-6">
                                <button ng-click=userSelected(itemQuery) type="button" class="btn btn-success btn-lg">
                                    <span   ng-hide="doneAdding" class="glyphicon glyphicon-plus"></span>
                                    <span  ng-show="doneAdding" class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                        </li>
                    </ul>

                    <div class="form-group" ng-class="{ 'has-error' : addNewUserForm.email.$invalid && !addNewUserForm.email.$pristine }">
                        <label> User Email * </label>
                        <div class="input-group">
                            <input name="email" type="email" class="form-control" placeholder="Enter User Email"
                                   ng-model='newUserModal.email' required>
                            <p ng-show="addNewUserForm.email.$invalid && !addNewUserForm.email.$pristine" class="help-block">User Email required.</p>
                        </div>
                    </div>

                    <label> User Address </label>
                    <div class="input-group">
                        <input name="address" type="text" class="form-control" placeholder="Enter User Address"
                               ng-model='newUserModal.address'>
                    </div>

                    <label> User Gender </label>
                    <select ng-model='newUserModal.gender' class="form-control">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button data-dismiss="modal" id="save_changes" type="button" ng-click="addNewUser(itemQuery, newUserModal)"
                        class="btn btn-primary" ng-disabled="!addNewUserForm.$valid && !userSelected">Save New User
                </button>
            </div>

        </div>
    </div>
</div>
</section>