<section class="badges_page">


<div class="main_view container">
<div class="row page_buttons">
    <div class="page_title col-md-10">
        <h4> תגים </h4>
    </div>
    <div class="btn-group  page_actions col-md-3">
        <button data-toggle="modal" data-target="#addNewBadgeModal" type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>הוספת תג
        </button>

    </div>
    <div class="page_actions col-md-3">
        <button ng-show="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" type="button"
                class="btn btn-danger  disabled">
            <span class="glyphicon glyphicon-trash"></span>מחיקת מסומנים
        </button>

        <button ng-hide="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" data-toggle="modal"
                data-target="#deleteSelecetedModal" type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>מחיקת מסומנים
        </button>
    </div>
    </div>
<div class="main_table row">
    <div class="col-md-16 bordered_table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-2"></th>
                <!--<th class="col-md-2"></th>-->
                <!--<th class="col-md-2"></th>-->
                <th ng-click="sort('title')" class="col-md-4 sortable">שם התג</th>
                <th ng-click="sort('createdAt')" class="col-md-3 sortable">תאריך ייצור התג</th>
                <th class="col-md-2"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="content cf" ng-repeat="item in badges | filter: query | orderBy: itemsOrder:direction | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td>
        <span class="input-group-addon chechbox_placeholder">
          <input ng-checked="checkedItems.indexOf(item) == -1" ng-click="toggleCheck(item)" class="tsamid_checkbox" type="checkbox" id="{{item.id}}">
        </span>
                </td>

                <td class="imagePlaceHolder">
                    <div  align="center">
                        <img  ng-src='{{item.attributes.normalBadgeImage._url}}' alt="{{item.attributes.name}}" class="img-thumbnail">
                    </div>

                </td>
                <!--<td class="imagePlaceHolder">-->
                    <!--<div  align="center">-->
                        <!--<img  ng-src='{{item.attributes.extraBadgeImage._url}}' alt="{{item.attributes.name}}" class="img-thumbnail">-->
                    <!--</div>-->

                <!--</td>-->
                <!--<td class="imagePlaceHolder">-->
                    <!--<div  align="center">-->
                        <!--<img  ng-src='{{item.attributes.superBadgeImage._url}}' alt="{{item.attributes.name}}" class="img-thumbnail">-->
                    <!--</div>-->

                <!--</td>-->
                <td>
                    <div class="table_text">
                        {{item.attributes.title}}
                    </div>


                </td>
                <td>
                    <div class="table_text">
                        {{item.createdAt.toDateString()}}
                    </div>
                </td>


                <td>
                    <div ng-show="showActions[item.id]" class="actions col-md-16">
                        <button data-toggle="modal"    data-target="#deleteDialog{{$index}}" type="button"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <div class="modal fade" id="deleteDialog{{$index}}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">מחיקת תג</h4>
                                    </div>
                                    <div class="modal-body">
                                        האם למחוק את התג: {{item.attributes.title}}
                                        <form role="form">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">יציאה</button>
                                        <button data-dismiss="modal" id="delete_game" type="button"
                                                ng-click="deleteBadge(item)" class="btn btn-danger">מחיקה
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="1%">
                    <div class="modal fade" id="editBadgeModal{{$index}}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">עריכת תג</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" name="editBadgeForm" novalidate>
                                        <div class="form-group row-fluid" ng-class="{ 'has-error' : editBadgeForm.name.$invalid && !editBadgeForm.name.$pristine }">
                                            <label>כותרת *</label>
                                            <input name="name" type="text" class="form-control" ng-model=item.attributes.title
                                                   placeholder="כותרת" required>
                                            <p ng-show="editBadgeForm.name.$invalid && !editBadgeForm.name.$pristine" class="help-block">כותרת הינו שדה חובה!</p>
                                        </div>
                                        <div class="form-group row">
                                            <div class="left_image col-md-5">
                                                <label>תמונת תג רגיל</label>
                                                <img  ng-src='{{item.attributes.normalBadgeImage._url}}' alt="{{item.attributes.name}}" class="img-thumbnail">

                                                <input style="width: 100%" id="editNormalFileUploader{{$index}}" type="file" class="form-control">
                                            </div>
                                            <div class="left_image col-md-5">
                                                <label>תמונת תג אקסטרה</label>
                                                <img  ng-src='{{item.attributes.extraBadgeImage._url}}' alt="{{item.attributes.name}}" class="img-thumbnail">

                                                <input style="width: 100%" id="editExtraFileUploader{{$index}}" type="file" class="form-control">
                                            </div>
                                            <div class="left_image col-md-5">
                                                <label>תמונת תג סופר</label>
                                                <img  ng-src='{{item.attributes.superBadgeImage._url}}' alt="{{item.attributes.name}}" class="img-thumbnail">

                                                <input style="width: 100%" id="editSuperFileUploader{{$index}}" type="file" class="form-control">
                                            </div>

                                        </div>




                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">יציאה</button>
                                    <button data-dismiss="modal" id="save_changes" type="button"
                                            ng-disabled=!editBadgeForm.$valid ng-click="editBadge(item , $index)" class="btn btn-primary">שמירה
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination page_pagination">
            <li>
                <button class="btn btn-default" ng-disabled="currentPage >= badges.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </li>
            <li>
                {{currentPage+1}}/{{numberOfPages()}}
            </li>
            <li>
                <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </li>
        </ul>
        </div>
    </div>

</div>



<div class="modal fade" id="addNewBadgeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">הוספת תג</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="addNewBadgeForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : addNewBadgeForm.name.$invalid && !addNewBadgeForm.name.$pristine }">
                        <label>כותרת *</label>
                        <input name="name" type="text" class="form-control" placeholder="כותרת"
                               ng-model='newBadgeModel.title' required>
                        <p ng-show="addNewBadgeForm.name.$invalid && !addNewBadgeForm.name.$pristine" class="help-block">כותרת הינו שדה חובה!</p>
                    </div>

                    <div class="form-group">
                        <label>תמונת תג רגיל *</label>
                        <input id="fileUploaderNormal" type="file" class="form-control"
                               ng-model='newBadgeModel.normalBadgeImage' required>
                    </div>

                    <div class="form-group">
                        <label>תמונת תג אקסטרה *</label>
                        <input id="fileUploaderExtra" type="file" class="form-control"
                               ng-model='newBadgeModel.extraBadgeImage'>
                    </div>

                    <div class="form-group">
                        <label>תמונת תג סופר *</label>
                        <input id="fileUploaderSuper" type="file" class="form-control"
                               ng-model='newBadgeModel.superBadgeImage'>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">יציאה</button>
                <button data-dismiss="modal" id="save_changes" type="button" ng-click="saveNewBadge(newBadgeModel)"
                        ng-disabled=!addNewBadgeForm.$valid class="btn btn-primary">שמירה
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteSelecetedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">מחיקת מסומנים</h4>
            </div>
            <div class="modal-body">
                האם למחוק את כל הפריטים המסומנים?
                <form role="form">
                </form>
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default" data-dismiss="modal">יציאה</button>
                <button  data-dismiss="modal" id="delete_game" type="button" ng-click="deleteSelectedItems()" class="btn btn-danger">מחיקה</button>
            </div>
        </div>
    </div>
</div>
</section>