
<section class="trivia_page">
    <div class="search">
        <h1 class="page_title" id="games_page_title" align="center"> Trivia Game  <Manager></Manager></h1>
        <div class="row">
            <div class="input-group col-md-offset-6 col-md-4">
                <input type="text" ng-model="query" class="form-control" placeholder="Search for User">
                <span class="input-group-addon"> <span class="glyphicon glyphicon-search"></span> </span>
            </div>
            <select ng-model="questionOrder" class="form-control col-md-offset-6 col-md-4">
                <option value="question">Question Text</option>
                <option value="createdAt">Date Created</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-offset-6 col-md-4" id="sort_direction">
      <span class="input-group-addon"> ascending
         <input type="radio" ng-model="direction" name="direction" checked>
      </span>
      <span class="input-group-addon"> descending
          <input type="radio" ng-model="direction" name="direction" value="reverse">
      </span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="btn-group btn-group-lg page_actions col-md-3 col-md-offset-2">
                <button  data-toggle="modal" data-target="#addNewQuestionModal" type="button" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Add New Question
                </button>
        </div>
        <div class="page_actions col-md-3">
            <button  ng-show="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle"  type="button" class="btn btn-danger btn-lg disabled">
                <span class="glyphicon glyphicon-trash"></span> Delete Selected
            </button>

            <button  ng-hide="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" data-toggle="modal" data-target="#deleteSelecetedModal" type="button" class="btn btn-danger btn-lg">
                <span class="glyphicon glyphicon-trash"></span> Delete Selected
            </button>
        </div>
    </div>




    <table class="table table-hover table-bordered col-md-12">
        <thead>
        <tr>
            <th class="table-bordered col-md-1">Select</th>
            <th ng-click="sort('questionText')" class="table-bordered col-md-8 sortable">Question Text</th>
            <th ng-click="sort('createdAt')" class="table-bordered col-md-6 sortable">Date Created</th>
            <th class="table-bordered col-md-1">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="game cf" ng-repeat="item in questionList | filter: query | orderBy: questionsOrder:direction">
            <td>
        <span class="input-group-addon chechbox_placeholder">
          <input ng-checked="checkedItems.indexOf(item) == -1" ng-click="toggleCheck(item)" class="tsamid_checkbox" type="checkbox" id="{{item.id}}">
        </span>
            </td>
            <td>
                    <button data-target="#editQuestionModal{{item.id}}" data-toggle="modal" class="btn btn-primary"> {{item.attributes.question}}
                    </button>
            </td>
            <td>
                <input class="form-control col-md-10" type="text" ng-model=item.createdAt readonly>
            </td>

            <td>
                <div class="actions col-md-16">
                    <button data-toggle="modal" data-target="#deleteDialog{{$index}}" type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <div class="modal fade" id="deleteDialog{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Delete Game</h4>
                                </div>
                                <div class="modal-body">
                                    Are You Sure You Want To Delete {{item.attributes.gameName}} ?
                                    <form role="form">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button  data-dismiss="modal" id="delete_game" type="button" ng-click="deleteGame(item , $index)" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td width="1%">
                <!-- Modal -->

                <div class="modal fade" id="editQuestionModal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel2">Add New Question</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form">
                                    <div class="form-group row">
                                        <label>Question Text</label>
                                        <span>  <input type="text" class="form-control" placeholder="Enter Question Text" ng-model=item.attributes.question required>   </span>

                                    </div>

                                    <div  class="form-group">
                                        <label >תשובה 1</label>
                                        <div class="row">


                                            <input type="text" class="form-control col-md-6"  placeholder="Enter Answer Text" ng-model="item.attributes.answer1" required>
                                            <input type="radio" name="correct_answer" class="col-md-2" checked=isCorrectAnswer(1,item.attributes.correctAnswer) ng-click="setCorrectAnswer($index)">

                                        </div>
                                        <label >תשובה 2</label>
                                        <div class="row">

                                            <input type="text" class="form-control col-md-6"  placeholder="Enter Answer Text" ng-model="item.attributes.answer2" required>
                                            <input type="radio" name="correct_answer" class="col-md-2" checked=isCorrectAnswer(2,item.attributes.correctAnswer) ng-click="setCorrectAnswer($index)">

                                        </div>
                                        <label >תשובה 3</label>
                                        <div class="row">

                                            <input type="text" class="form-control col-md-6"  placeholder="Enter Answer Text" ng-model="item.attributes.answer3" required>
                                            <input type="radio" name="correct_answer" class="col-md-2" checked=isCorrectAnswer(3,item.attributes.correctAnswer) ng-click="setCorrectAnswer($index)">


                                        </div>
                                        <label >תשובה 4</label>
                                        <div class="row">

                                            <input type="text" class="form-control col-md-6"  placeholder="Enter Answer Text" ng-model="item.attributes.answer4" required>
                                            <input type="radio" name="correct_answer" checked=isCorrectAnswer(4,item.attributes.correctAnswer) ng-click="setCorrectAnswer($index)">

                                        </div>





                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button  data-dismiss="modal"  type="button" ng-click="save()" class="btn btn-primary">Save New Question</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal fade" id="addNewQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">Add New Question</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group row">
                            <label>Question Text</label>
                           <span>  <input type="text" class="form-control" placeholder="Enter Question Text" ng-model='question' required>   </span>

                        </div>

                        <div ng-repeat = "answer in answers" class="form-group">
                            <label>{{answer.label}}</label>
                            <div class="row">

                                <input type="text" class="form-control col-md-6"  placeholder="Enter Answer Text" ng-model='answer.text' required>
                                <input type="radio" name="correct_answer" class="col-md-2" value="{{$index}}" ng-click="setCorrectAnswer($index)">
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button  data-dismiss="modal"  type="button" ng-click="save()" class="btn btn-primary">Save New Question</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Multiple Delete Modal -->
    <div class="modal fade" id="deleteSelecetedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete Selected Games</h4>
                </div>
                <div class="modal-body">
                    Are You Sure You Want To Delete All Selected Items  ?
                    <form role="form">
                    </form>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button  data-dismiss="modal" id="delete_game" type="button" ng-click="deleteSelectedItems()" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>