<section class="lessons_page">


<div class="main_view container">
<div class="row page_buttons">
    <div class="page_title col-md-10">
        <h4> פעילויות </h4>
    </div>
    <div class="btn-group page_actions col-md-3">
        <button data-toggle="modal" data-target="#addNewLessonModal" ng-click="initNewLesson(); initLocalVars()" type="button"
                class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> יצירת פעילות
        </button>
    </div>

    <div class="page_actions col-md-3">
        <button ng-show="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" type="button"
                class="btn btn-danger  disabled">
            <span class="glyphicon glyphicon-trash"></span> מחיקת מסומנים
        </button>
        <button ng-hide="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" data-toggle="modal"
                data-target="#deleteSelectedModal" type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> מחיקת מסומנים
        </button>
    </div>

</div>
<div class="main_table row">
<div class="col-md-16 bordered_table">
<table class="table table-hover">
<thead>
<tr>
    <th class="col-md-1"></th>
    <th ng-click="sort('name')" class="col-md-6 sortable">שם הפעילות </th>
    <th ng-click="sort('createdAt')" class="col-md-6 sortable">נוצרה בתאריך</th>
    <th class="col-md-3"></th>
</tr>
</thead>

<tbody>
<tr class="group cf" ng-repeat="item in lessons | filter: query | orderBy: itemsOrder:direction">
<td>
            <span class="input-group-addon chechbox_placeholder">
                <input ng-checked="checkedItems.indexOf(item) == -1" ng-click="toggleCheck(item)"
                       ng-disabled="!showActions[item.id]" class="tsamid_checkbox" type="checkbox" id="{{item.id}}">
            </span>
</td>

<td>
    <div class="table_text show_details_text sortable" data-target="#showLessonModal{{$index}}" data-toggle="modal">
        {{item.attributes.name}}
    </div>
    <div class="modal fade" id="showLessonModal{{$index}}" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">שיעור: "{{item.attributes.name}}" </h4>
                </div>

                <div class="modal-body">
                    <form>

                        <div class="form-group">
                            <label> תכנים: </label>
                            <ul class="list-group" >
                                <li class="list-group-item row"> <label class="col-md-8">שם:</label> <label class="col-md-8">סוג:</label> </li>
                                <li class="list-group-item row" ng-repeat="content in item.contents.content">
                                        <div class="form-group col-md-8">

                                            <input name="description" type="text" class="form-control" ng-model="content.attributes.title" disabled>
                                        </div>
                                    <div class="form-group col-md-8">

                                        <input name="description" type="text" class="form-control" ng-model="content.attributes.type" disabled>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label> משחקים: </label>
                            <ul class="list-group">
                                <li class="list-group-item row"> <label class="col-md-8">שם:</label> <label class="col-md-8">סוג:</label> </li>
                                <li class="list-group-item row" ng-repeat="game in item.contents.games">
                                    <div class="form-group col-md-8">
                                        <input name="description" type="text" class="form-control" ng-model="game.attributes.gameName" disabled>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input name="description" type="text" class="form-control" ng-model="game.attributes.type" disabled>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label> תגים: </label>
                            <ul class="list-group">
                                <li class="list-group-item row" ng-repeat="badge in item.contents.badges">
                                    <div class="form-group col-md-8">
                                        <input name="description" type="text" class="form-control" ng-model="badge.attributes.title" disabled>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> סגור </button>
                </div>

            </div>
        </div>
    </div>
</td>

<td>
    <div class="table_text">
        {{item.createdAt.toDateString()}}
    </div>
</td>

<td>
    <div class="actions col-md-16">
        <button data-toggle="modal" data-target="#editLessonModal{{$index}}" ng-click="initUnselectedItems(item); initLocalVars()"
                class="btn btn-default" ng-show="showActions[item.id]">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>


        <!--multi select-->
        <div class="modal fade" id="editLessonModal{{$index}}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">עריכת פעילות: {{item.attributes.name}}</h4>
                        <ul class="nav nav-pills">
                            <li ng-class="{ active: steps[1] }" ><a> שלב 1 </a></li>
                            <li ng-class="{ active: steps[2] }" ><a> שלב 2 </a></li>
                            <li ng-class="{ active: steps[3] }" ><a> שלב 3 </a></li>
                        </ul>
                    </div>

                    <div class="modal-body row">

                        <div ng-show="steps[1]" >
                            <div class="unselected_section col-md-8">
                                <label> תכנים שלא נבחרו </label>

                                <div class="input-group">
                                    <span class="input-group-addon rtl_add_on"> <span class="glyphicon glyphicon-search"> </span> </span>
                                    <input type="text" class="form-control rtl_input" ng-model="unselectedQuery"
                                           placeholder=" חפש תוכן ">
                                </div>
                                <ul class="unselected_list list-group">
                                    <li ng-click="addToSelected(unselectedItem)"
                                        class="list-group-item selected_list_item"
                                        ng-repeat="unselectedItem in unselectedContent | filter : unselectedQuery">
                                        {{unselectedItem.attributes.title}}
                                    </li>
                                </ul>
                            </div>

                            <div class="selected_actions col-md-2">
                                <div class="list_action">
                                </div>
                            </div>

                            <div class="selected_section col-md-8">
                                <label> תכנים שנבחרו </label>

                                <div class="input-group">
                                    <span class="input-group-addon rtl_add_on"> <span class="glyphicon glyphicon-search"> </span> </span>
                                    <input type="text" class="form-control rtl_input" ng-model="selectedQuery"
                                           placeholder=" חפש תוכן ">
                                </div>
                                <ul class="selected_list list-group">
                                    <li ng-click="addToUnselected(selectedItem)"
                                        class="list-group-item selected_list_item"
                                        ng-repeat="selectedItem in selectedContent | filter : selectedQuery">
                                        {{selectedItem.attributes.title}}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--GAMES-->
                        <div ng-show="steps[2]">
                            <div class="unselected_section col-md-8">
                                <label> משחקים שלא נבחרו </label>

                                <div class="input-group">
                                    <span class="input-group-addon rtl_add_on"> <span
                                            class="glyphicon glyphicon-search"> </span></span>
                                    <input type="text" class="form-control rtl_input" ng-model="unselectedQuery"
                                           placeholder=" חפש משחק ">
                                </div>
                                <ul class="unselected_list list-group">
                                    <li ng-click="addToSelectedGames(unselectedGame)"
                                        class="list-group-item selected_list_item"
                                        ng-repeat="unselectedGame in unselectedGames | filter : unselectedQuery">
                                        {{unselectedGame.attributes.gameName}}
                                    </li>
                                </ul>
                            </div>

                            <div class="selected_actions col-md-2">
                                <div class="list_action">
                                </div>
                            </div>

                            <div class="selected_section col-md-8">
                                <label> משחקים שנבחרו </label>

                                <div class="input-group">
                                    <span class="input-group-addon rtl_add_on"> <span
                                            class="glyphicon glyphicon-search"> </span></span>
                                    <input type="text" class="form-control rtl_input" ng-model="selectedQuery"
                                           placeholder=" חפש משחק ">
                                </div>
                                <ul class="selected_list list-group">
                                    <li ng-click="addToUnselectedGames(selectedGame)"
                                        class="list-group-item selected_list_item"
                                        ng-repeat="selectedGame in selectedGames | filter : selectedQuery">
                                        {{selectedGame.attributes.gameName}}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--BADGES-->
                        <div ng-show="steps[3]" >
                            <div class="unselected_section col-md-8">
                                <label> תגים שלא נבחרו </label>

                                <div class="input-group">
                                    <span class="input-group-addon rtl_add_on"> <span class="glyphicon glyphicon-search"> </span></span>
                                    <input type="text" class="form-control rtl_input" ng-model="unselectedQuery"
                                           placeholder=" חפש תג ">
                                </div>
                                <ul class="unselected_list list-group">
                                    <li ng-click="addToSelectedBadges(unselectedBadge)" class="list-group-item selected_list_item"
                                        ng-repeat="unselectedBadge in unselectedBadges | filter : unselectedQuery">
                                        <span><img class="img-thumbnail img-list-item" ng-src="{{unselectedBadge.attributes.normalBadgeImage._url}}"></span>
                                        <span> {{unselectedBadge.attributes.title}}</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="selected_actions col-md-2">
                                <div class="list_action">
                                </div>
                            </div>

                            <div class="selected_section col-md-8">
                                <label> תגים שנבחרו </label>

                                <div class="input-group">
                                    <span class="input-group-addon rtl_add_on"> <span class="glyphicon glyphicon-search"> </span></span>
                                    <input type="text" class="form-control rtl_input" ng-model="selectedQuery"
                                           placeholder=" חפש תג ">
                                </div>
                                <ul class="selected_list list-group">
                                    <li ng-click="addToUnselectedBadges(selectedBadge)" class="list-group-item selected_list_item"
                                        ng-repeat="selectedBadge in selectedBadges | filter : selectedQuery">
                                        <span><img class="img-thumbnail img-list-item" ng-src="{{selectedBadge.attributes.normalBadgeImage._url}}"></span>
                                        <span> {{selectedBadge.attributes.title}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" ng-disabled="currentStep == 1" ng-click="previousStep()" class="btn btn-primary" >חזרה</button>
                        <button type="button" ng-disabled="currentStep == numberOfSteps" ng-click="nextStep()" class="btn btn-primary">הבא</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                        <button data-dismiss="modal" id="save_lesson" type="button" ng-click="saveLesson(item)"
                                class="btn btn-primary"> שמירת פעילות
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <!--multi select end-->


        <button ng-show="showActions[item.id]" data-toggle="modal" data-target="#deleteDialog{{$index}}" type="button"
                class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
    <div class="modal" id="deleteDialog{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"> מחיקת פעילות </h4>
                </div>
                <div class="modal-body"> האם למחוק את הפעילות: {{item.attributes.name}} ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> ביטול </button>
                    <button id="delete_group" type="button" data-dismiss="modal" ng-click="deleteLesson(item)"
                            class="btn btn-danger"> מחיקה
                    </button>
                </div>
            </div>
        </div>
    </div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>


<div class="modal fade" id="addNewLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"> הוספת פעילות חדשה </h4>
                <ul class="nav nav-pills">
                    <li ng-class="{ active: steps[1] }" ><a> שלב 1 </a></li>
                    <li ng-class="{ active: steps[2] }" ><a> שלב 2 </a></li>
                    <li ng-class="{ active: steps[3] }" ><a> שלב 3 </a></li>
                    <li ng-class="{ active: steps[4] }" ><a> שלב 4 </a></li>
                </ul>
            </div>

            <div class="modal-body row">
                <form name="addNewLessonForm" novalidate>

                    <div ng-show="steps[4]" class="form-group col-md-6"
                         ng-class="{ 'has-error' : addNewLessonForm.name.$invalid && !addNewLessonForm.name.$pristine }">
                        <label> שם הפעילות * </label>
                        <input name="name" type="text" class="form-control" placeholder=" שם הפעילות "
                               ng-model='newLesson.name' required>

                        <p ng-show="addNewLessonForm.name.$invalid && !addNewLessonForm.name.$pristine"
                           class="help-block">שם הפעילות הינו שדה חובה! </p>
                    </div>

                    <div ng-show="steps[1]" >
                        <div class="unselected_section col-md-8">
                            <label> תוכן שלא נבחר </label>

                            <div class="input-group">
                                <span class="input-group-addon rtl_add_on"> <span class="glyphicon glyphicon-search"> </span> </span>
                                <input type="text" class="form-control rtl_input" ng-model="unselectedQuery"
                                       placeholder=" חפש תוכן ">
                            </div>
                            <ul class="unselected_list list-group">
                                <li ng-click="addToSelected(unselectedItem)" class="list-group-item selected_list_item"
                                    ng-repeat="unselectedItem in unselectedContent | filter : unselectedQuery">
                                    {{unselectedItem.attributes.title}}
                                </li>
                            </ul>
                        </div>

                        <div class="selected_actions col-md-2">
                            <div class="list_action">
                            </div>
                        </div>

                        <div class="selected_section col-md-8">
                            <label> תוכן שנבחר </label>

                            <div class="input-group">
                                <span class="input-group-addon rtl_add_on"> <span class="glyphicon glyphicon-search"> </span> </span>
                                <input type="text" class="form-control rtl_input" ng-model="selectedQuery"
                                       placeholder=" חפש תוכן ">
                            </div>
                            <ul class="selected_list list-group">
                                <li ng-click="addToUnselected(selectedItem)" class="list-group-item selected_list_item"
                                    ng-repeat="selectedItem in selectedContent | filter : selectedQuery">
                                    {{selectedItem.attributes.title}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--GAMES-->
                    <div ng-show="steps[2]" >
                        <div class="unselected_section col-md-8">
                            <label> משחקים שלא נבחרו </label>

                            <div class="input-group">
                                <span class="input-group-addon rtl_add_on"> <span class="glyphicon glyphicon-search"> </span></span>
                                <input type="text" class="form-control rtl_input" ng-model="unselectedQuery"
                                       placeholder=" חפש משחק ">
                            </div>
                            <ul class="unselected_list list-group">
                                <li ng-click="addToSelectedGames(unselectedGame)" class="list-group-item selected_list_item"
                                    ng-repeat="unselectedGame in unselectedGames | filter : unselectedQuery">
                                    {{unselectedGame.attributes.gameName}}
                                </li>
                            </ul>
                        </div>

                        <div class="selected_actions col-md-2">
                            <div class="list_action">
                            </div>
                        </div>

                        <div class="selected_section col-md-8">
                            <label> משחקים שנבחרו </label>

                            <div class="input-group">
                                <span class="input-group-addon rtl_add_on"> <span class="glyphicon glyphicon-search"> </span></span>
                                <input type="text" class="form-control rtl_input" ng-model="selectedQuery"
                                       placeholder=" חפש משחק ">
                            </div>
                            <ul class="selected_list list-group">
                                <li ng-click="addToUnselectedGames(selectedGame)" class="list-group-item selected_list_item"
                                    ng-repeat="selectedGame in selectedGames | filter : selectedQuery">
                                    {{selectedGame.attributes.gameName}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--BADGES-->
                    <div ng-show="steps[3]" >
                        <div class="unselected_section col-md-8">
                            <label> תגים שלא נבחרו </label>

                            <div class="input-group">
                                <span class="input-group-addon rtl_add_on"> <span class="glyphicon glyphicon-search"> </span></span>
                                <input type="text" class="form-control rtl_input" ng-model="unselectedQuery"
                                       placeholder=" חפש תג ">
                            </div>
                            <ul class="unselected_list list-group">
                                <li ng-click="addToSelectedBadges(unselectedBadge)" class="list-group-item selected_list_item"
                                    ng-repeat="unselectedBadge in unselectedBadges | filter : unselectedQuery">
                                    <span><img class="img-thumbnail img-list-item" ng-src="{{unselectedBadge.attributes.normalBadgeImage._url}}"></span>
                                    <span> {{unselectedBadge.attributes.title}}</span>
                                </li>
                            </ul>
                        </div>

                        <div class="selected_actions col-md-2">
                            <div class="list_action">
                            </div>
                        </div>

                        <div class="selected_section col-md-8">
                            <label> תגים שנבחרו </label>

                            <div class="input-group">
                                <span class="input-group-addon rtl_add_on"> <span class="glyphicon glyphicon-search"> </span></span>
                                <input type="text" class="form-control rtl_input" ng-model="selectedQuery"
                                       placeholder=" חפש תגים ">
                            </div>
                            <ul class="selected_list list-group">
                                <li ng-click="addToUnselectedBadges(selectedBadge)" class="list-group-item selected_list_item"
                                    ng-repeat="selectedBadge in selectedBadges | filter : selectedQuery">
                                    <span><img class="img-thumbnail img-list-item" ng-src="{{selectedBadge.attributes.normalBadgeImage._url}}"></span>
                                    <span> {{selectedBadge.attributes.title}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" ng-disabled="currentStep == 1" ng-click="previousStep()" class="btn btn-primary" >חזרה</button>
                <button type="button" ng-disabled="currentStep == numberOfSteps" ng-click="nextStep()" class="btn btn-primary">הבא</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                <button data-dismiss="modal" id="save_new_lesson" type="button" ng-click="saveNewLesson(newLesson)"
                        ng-show="currentStep == numberOfSteps" class="btn btn-primary" ng-disabled=!addNewLessonForm.$valid> שמירת פעילות חדשה
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="deleteSelectedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"> מחיקת פעילויות שנבחרו </h4>
            </div>
            <div class="modal-body"> האם למחוק את כל הפעילויות שנבחרו?
                <form role="form">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                <button data-dismiss="modal" id="delete_lesson" type="button" ng-click="deleteSelectedItems()"
                        class="btn btn-danger">מחק
                </button>
            </div>
        </div>
    </div>
</div>
</section>