<section class="content_page">

<div class="main_view container">
<div class="row page_buttons">
    <div class="page_title col-md-10">
        <h4> תכנים </h4>
    </div>
    <div class="btn-group   page_actions col-md-3">
        <button data-toggle="modal" data-target="#addNewContentModal" type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> הוסף תוכן
        </button>
    </div>

    <div class="page_actions col-md-3">

        <button ng-show="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" type="button"
                class="btn btn-danger disabled">
            <span class="glyphicon glyphicon-trash"></span> מחק מסומנים
        </button>

        <button ng-hide="disableDeleteButtonDisplay" ng-style="deleteSelectedButtonStyle" data-toggle="modal"
                data-target="#deleteSelecetedModal" type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> מחק מסומנים
        </button>
    </div>

    </div>
    <div class="main_table row">
        <div class="col-md-16 bordered_table">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th ng-click="sort('title')" class="col-md-4 sortable">שם התוכן</th>
                    <th ng-click="sort('type')" class="col-md-3 sortable">סוג התוכן</th>
                    <th class="col-md-3">אמצעי זיהוי</th>
                    <th ng-click="sort('createdAt')" class="col-md-3 sortable">תאריך יצירת התוכן</th>
                    <th class="col-md-2"></th>
                </tr>
                </thead>

                <tbody>
                <tr class="content cf" ng-repeat="item in content | filter: query | orderBy: itemsOrder:direction">
                    <td>
        <span class="input-group-addon chechbox_placeholder">
          <input ng-checked="checkedItems.indexOf(item) == -1" ng-click="toggleCheck(item)" class="tsamid_checkbox" type="checkbox" id="{{item.id}}">
        </span>
                    </td>

                    <td>
                        <div class="table_text show_details_text sortable" data-target="#showContentModal{{$index}}" data-toggle="modal">
                            {{item.attributes.title}}
                        </div>
                        <div class="modal fade" id="showContentModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">שם התוכן: {{item.attributes.title}}</h4>
                                    </div>

                                    <div class="modal-body row">
                                        <form name="showContentForm">

                                            <div class="form-group">
                                                <h4 class="modal-title">סוג: {{item.attributes.type}}</h4>
                                                <!--<input name="media" type="text" class="form-control" ng-model=item.attributes.type disabled>-->
                                            </div>

                                            <div class="form-group">
                                                <h4 class="modal-title">אמצאי זיהוי: {{item.attributes.mediaId}}</h4>
                                                <!--<input name="media" type="text" class="form-control" ng-model=item.attributes.mediaId disabled>-->
                                            </div>
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button  type="button" class="btn btn-default" data-dismiss="modal">סגירה</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="table_text">
                            {{item.attributes.type}}
                        </div>
                    </td>
                    <td>
                        <div class="table_text">
                            {{item.attributes.mediaId}}
                        </div>
                    </td>
                    <td>
                        <div class="table_text">
                            {{item.createdAt.toDateString()}}
                        </div>
                    </td>
                    <td>
                        <div class="actions">
                            <button data-toggle="modal" data-target="#editContentModal{{$index}}" type="button"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>

                            <div class="modal fade" id="editContentModal{{$index}}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">עריכת תוכן</h4>
                                        </div>

                                        <div class="modal-body">
                                            <form role="form" name="editContentForm" novalidate>
                                                <div class="form-group" ng-class="{ 'has-error' : editContentForm.title.$invalid && !editContentForm.title.$pristine }">
                                                    <label>שם התוכן *</label>
                                                    <input name="title" type="text" class="form-control" ng-model=item.attributes.title
                                                           placeholder="הכנס כותרת" required>
                                                    <p ng-show="editContentForm.title.$invalid && !editContentForm.title.$pristine" class="help-block">כותרת לתוכן היא הכרחית</p>
                                                </div>

                                                <div class="form-group">
                                                <label>סוג התוכן *</label>
                                                <select ng-init='item.attributes.type' ng-model="item.attributes.type"
                                                        class="form-control">
                                                    <option selected="{isSelected(item , 'video')}" value="video">וידאו</option>
                                                    <option selected="{isSelected(item , 'presentation')}" value="presentation">
                                                        מצגת
                                                    </option>
                                                    <option selected="{isSelected(item , 'document')}" value="document">מסמך
                                                    </option>
                                                </select>
                                                </div>

                                                <div class="form-group" ng-class="{ 'has-error' : editContentForm.media.$invalid && !editContentForm.media.$pristine }">
                                                    <label>קישור לתוכן * </label>
                                                    <input name="media" type="text" class="form-control" ng-model=item.attributes.mediaId
                                                           placeholder="הכנס זיהוי תוכן" required>
                                                    <p ng-show="editContentForm.media.$invalid && !editContentForm.media.$pristine" class="help-block">קישור לתוכן הוא הכרחי</p>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                                            <button data-dismiss="modal" id="save_changes" type="button"
                                                    ng-click="saveContent(item)" class="btn btn-primary"
                                                    ng-disabled=!editContentForm.$valid>שמור שינויים
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <button ng-show="showTrash[item.id]" data-toggle="modal" data-target="#deleteDialog{{$index}}" type="button"
                                    class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>

                            <div class="modal fade" id="deleteDialog{{$index}}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">מחיקת תוכן</h4>
                                        </div>
                                        <div class="modal-body">
                                            האם את\ה בטוח\ה שאת\ה רוצה למחוק את התוכן?
                                            <form role="form">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                                            <button data-dismiss="modal" id="delete_game" type="button"
                                                    ng-click="deleteContent(item , $index)" class="btn btn-danger">מחק
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
    </div>
</div>



<div class="modal fade" id="addNewContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add New Content</h4>
            </div>

            <div class="modal-body">
                <form role="form" name="addNewContentForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : addNewContentForm.title.$invalid && !addNewContentForm.title.$pristine }">
                        <label>כותרת התוכן * </label>
                        <input name="title" type="text" class="form-control" placeholder="הכנס כותרת"
                               ng-model='newContentModel.title' required>
                        <p ng-show="addNewContentForm.title.$invalid && !addNewContentForm.title.$pristine" class="help-block">כותרת התוכן היא הכרחית</p>
                    </div>

                    <select ng-init="newContentModel.type = 'video'" ng-model='newContentModel.type' class="form-control">
                        <option value="video">וידאו</option>
                        <option value="presentation">מצגת</option>
                        <option value="document">מסמך</option>
                    </select>

                    <div class="form-group" ng-class="{ 'has-error' : addNewContentForm.media.$invalid && !addNewContentForm.media.$pristine }">
                        <label>אמצעי זיהוי * </label>
                        <input name="media" type="text" class="form-control" placeholder="הכנס קישור"
                               ng-model='newContentModel.mediaId' required>
                        <p ng-show="addNewContentForm.media.$invalid && !addNewContentForm.media.$pristine" class="help-block">אמצעי זיהוי הוא הכרחי</p>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                <button data-dismiss="modal" id="save_changes" type="button" ng-click="saveContent(newContentModel)"
                        class="btn btn-primary" ng-disabled=!addNewContentForm.$valid>שמור תוכן
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteSelecetedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">מחיקת תכנים מסומנים</h4>
            </div>

            <div class="modal-body">
                האם את\ה בטוח שאת\ה רוצה למחוק את כל התכנים המסומנים?
                <form role="form">
                </form>
            </div>

            <div class="modal-footer">
                <button  type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                <button  data-dismiss="modal" id="delete_game" type="button" ng-click="deleteSelectedItems()" class="btn btn-danger">מחק</button>
            </div>

        </div>
    </div>
</div>

</section>