body{
	font-family: "Raleway","Helvetica Neue",Helvetica,"Myriad Pro","Lucida Grande",sans-serif !important;
	height: 100vh;
    background: #f4f8fc;

}

h1 , h2 {
	margin-bottom: 3vh !important;
	color : #5a6b77 !important;
	font-weight: 100 !important;
}

th , td{
    text-align: center !important;
}



.wrapper{
	position: relative;

}

.sortable{
	cursor: pointer !important;

}

.header{
    background: #f4f8fc;
    margin: 0 auto;



}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li a{
    border: 1px solid #dddddd !important;
    border-bottom-color: transparent !important;
}

.system_logo{

}
#userDetailsError{
	display: none;
	margin-top: 5vh;
}

.login_form{
	margin-top: 20vh;
}

.input-group {
	margin-bottom: 1vh;
}

.page_actions_buttons{
	margin-bottom: 3vh;
	margin-top: 3vh;
    background-image: linear-gradient(#eff2f5,#cfd8e0);
    border-radius: 5px;
    padding: 2vh;

}

#sort_direction{

}

.games_background h1{
    margin-top: 0 !important;
}

.games_background{
    width : 100%;
    height: 100%;
}

.bordered_table{
    border : 2px solid #dddddd;
    border-radius: 5px !important;
    background-image: linear-gradient(#eff2f5,#cfd8e0) !important;

}

.main_view {
    margin-top : 3vh;
    margin-bottom: 3vh;
}

.page_buttons{
    margin-bottom: 3vh;
}


#admin_top_menu {

	height: 100%;
    border-radius: 5px;
    border-bottom: 0px;
	
}
.actions{

}

.page_top_menu_item{
    padding-top: 1.5vh;
}

.page_top_menu {
     padding-top: 1vh !important;
     background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
     border-radius: 5px;
     margin-bottom: 3vh;

 }

.wellcome_text  , .logout_button{
    margin-top: 1vh;
}
.icon{
	cursor: pointer;
	display: inline-block;
	text-align: center;
}
.alert_section{
	position: fixed !important;
	bottom: 20px;
}
.alert{
	width : 100%;
}

.menu_category{
    padding-left : 5px !important;
    padding-right: 5px !important;
    text-align: center;
}

.menu_category.active{
    pointer-events: none;
    cursor: default;
}


.menu_category.active .menu_category_link {
    background: #ffffff;


}

.page_tab {
    background : #dfe5ea;
}



.page_tab.active {
    background: #f4f8fc;
    pointer-events: none;
    cursor: default;
}

.inpage_tabs {
    border-radius : 5px ;
    margin: 0 !important;
    border: 0 !important;
}

.menu_category_link:hover{
    background-image: linear-gradient(#f5f9fd,#e6f2fb);

}



.menu_category_link h4{
    font-weight: 300 !important;
}
.menu_category_link{

    background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
}

.page_title{
	margin-top: 3vh !important;
	margin-bottom: 6vh !important;	
	text-align: center;
}

.chechbox_placeholder{
	padding: 2vh !important;
    border: 0 !important;
    background: transparent !important;
}

.tsamid_checkbox{
	line-height: 30px !important;
	font-size: 40px !important;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

.query_list li {
    opacity : 0.9;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; /* Safari */
    -o-transition: all 0.3s ease-out; /* Safari */
    -moz-transition: all 0.3s ease-out; /* Safari */

}

.query_list li:hover{
    opacity: 1 ;
    background-color: #428bca;
    -webkit-transform : scale(1.1);
    -o-transform : scale(1.1);
    -moz-transform : scale(1.1);
    transform : scale(1.1);


}

.organization_image{
    margin-top: 3vh;
    text-align: center;
}

.imagePlaceHolder * {
    max-height: 8vh !important;
}

tr * {

}

td  {
    vertical-align: middle !important;
}

.unselected_list , .selected_list{
     margin-top: 3vh;
     height : 50vh;
     overflow: scroll;
}

.selected_list_item:hover {
    background-color: #0088cc;
    color : white;
    cursor: pointer;
}

.itemQuery.ng-enter.ng-enter-active,
.itemQuery.ng-leave {
    opacity: 1;
    height: 80px;
    overflow: hidden;
}

.itemQuery.ng-leave.ng-leave-active,
.itemQuery.ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.table_section {

}

.filter_menu {
    position: fixed !important;
    top : 18vh;
    background-image: linear-gradient(#eff2f5,#cfd8e0);
    padding-bottom: 6vh;
    border-radius: 8px;
    z-index: 5;
}

.form-group {
    margin-bottom: 3vh !important;
}

label{
    margin-top: 3vh ;
}


/*game page css*/
.add_new_games_page{
    direction: rtl;
}

.row > .game-container{
    cursor: pointer;
    float: right;
}
/*game page css end*/